#home-user-surveys {
  margin-top: 0; // to counter the ion-safe-area-top which is calculated in JS

  ion-header ion-toolbar {
    padding: 0;
    padding-top: env(safe-area-inset-top) !important;
    --background: transparent;
    position: fixed;

    color: var(--ion-color-primary-contrast);

    ion-segment {
      z-index: 100000000;
      margin: 8px auto;

      box-shadow:
        -1px 2px 7px 0 #0000001a,
        0 2px 9px 0 #3e396b1a;
      border-radius: 10px;
      background: var(--ion-color-light);
      width: calc(100% - 20px); // -20px to match the padding of the list below
      min-height: 40px;

      ion-segment-button.md {
        --padding-end: 5px;
        --padding-start: 5px;
      }

      ion-badge {
        display: inline;
        vertical-align: top;
        margin: 3px;
        margin-left: 3px;
      }

      ion-label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
        color: var(--ion-color-primary);
      }

      ion-label.md {
        color: var(--ion-color-primary);
      }

      ion-segment-button {
        padding-right: 10px;
        padding-left: 10px;
        --color-checked: var(--ion-color-primary);
      }

      ion-segment-button.md {
        --indicator-height: 4px;
      }

      .segment-button-checked.ios {
        --indicator-color: var(--color-primary-800);

        ion-label.ios {
          color: var(--ion-color-primary-contrast);
        }
      }
    }

    ion-segment.ios {
      border: 1px solid var(--ion-color-medium);
    }
  }

  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
    --overflow: hidden;

    ion-list {
      margin: 0 auto;
      padding: 0 !important;
      width: calc(100% - 20px);
      max-width: 600px; // ipad
      height: 100%;
    }

    .upload-all-button {
      display: block;
      position: absolute;
      right: 17px;
      bottom: 0;
      margin: 10px auto;
      box-shadow:
        -1px 2px 7px 0 #0000001a,
        0 2px 9px 0 #3e396b1a;
      border-radius: var(--theme-border-radius);
      height: 35px !important;
      overflow: hidden;

      &.ios {
        font-size: 0.9em;
      }
    }

    .info-background-message {
      margin-top: 20vh;
      margin-bottom: 10vh;
    }
  }

  ion-item-divider {
    margin-top: 3px;
    border-radius: var(--theme-border-radius);
    padding: 0px 4px 0 12px;
    color: var(--ion-color-primary-shade);
  }
}

.info-background-message ion-icon,
ion-alert .tip-icon {
  --ionicon-stroke-width: 40px;
  margin-bottom: -3px;

  border-radius: 50%;
  background: var(--ion-color-primary-contrast);
  color: black;

  &.with-background {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
}
