#home-menu {
  ion-content {
    --padding-top: env(safe-area-inset-top);

    text-align: center;
  }

  .app-version-container {
    color: var(--color-primary-800);
    text-align: center;
  }

  .info-message {
    border-style: none;
    padding: 0;
    --background: #ffffffb0;

    ion-note {
      color: var(--color-primary-800);
    }
  }
}

ion-alert .info-message.destructive-warning {
  margin: 10px 0 !important;
  background: rgba(var(--ion-color-danger-rgb), 0.05);

  ion-label {
    margin-right: 0;
    ion-note {
      color: var(--ion-color-danger);
    }
  }

  ion-icon {
    padding: 0px 12px 0px 12px;
  }
}
