#home ion-content {
  --overflow: hidden;

  &::part(background) {
    // background: url('./background.png') no-repeat center center fixed;
    // background-size: cover;
  }

  .buttons {
    display: flex;
    position: absolute;
    bottom: 15vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

    .fancy-button {
      display: block;
      margin: 10px auto;
      width: 100%;
      max-width: calc(min(90vw, 500px));
      height: fit-content;
      --padding-start: 25px;
      --padding-end: 20px;
      align-content: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.36);
      border: 1px solid var(--ion-color-primary-border);
      border-radius: 15px;
      overflow: hidden;

      --background: white;

      .fancy-button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        width: 100%;
        color: var(--color-primary-800);

        & > div {
          display: flex;
          flex-direction: column;
          font-weight: 300;
          text-align: left;
          text-transform: none;

          h4 {
            margin: 0;
            font-weight: 800;
          }

          h4:not(:only-child) {
            margin-bottom: 10px;
          }
        }

        ion-icon {
          margin-left: 10px;
          border-radius: 15px;
          background: var(--color-secondary-50);
          padding: 10px;
          width: 45px;
          height: 45px;
          color: var(--ion-color-secondary-shade);
        }
      }

      &.small {
        --padding-end: 10px;

        .fancy-button-container {
          padding: 8px 0;

          ion-icon {
            margin-left: 10px;
            height: 35px;
          }

          h4 {
            font-weight: 500;
          }
        }
      }
    }
  }
}
